<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.codexs.conductor</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/hamzeh/Desktop/GitHub/CTC/.venv/bin/python</string>
        <string>-m</string>
        <string>conductor</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/hamzeh/Desktop/GitHub/CTC</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>StandardOutPath</key>
    <string>/Users/hamzeh/.conductor/daemon-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/hamzeh/.conductor/daemon-stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>/Users/hamzeh</string>
        <key>PYTHONPATH</key>
        <string>/Users/hamzeh/Desktop/GitHub/CTC/src</string>
    </dict>
</dict>
</plist>
